* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  width: 100%;
  height: 100%;
}
html h1,
html h2,
html h3,
html h4,
html h5,
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: "Epilogue";
}
html p,
body p {
  font-family: "Epilogue";
}

[data-app=reveal] {
  opacity: 0;
}

.super {
  font-family: "Epilogue";
  font-size: clamp(3.5rem, 3.5vw + 3.5rem, 5rem);
  line-height: clamp(5.2rem, 1.2 * (3.5vw + 3.5rem), 5.5rem);
  overflow-wrap: break-word;
}

.title {
  font-size: clamp(1.9rem, 2vw + 1rem, 2.25rem);
  font-family: "Epilogue";
  line-height: 2.5rem;
  overflow-wrap: break-word;
}

.text {
  font-family: "Epilogue";
  font-size: clamp(1.2rem, 1.5vw + 1rem, 1.75rem);
  line-height: 2.5rem;
  overflow-wrap: break-word;
}

.mini {
  font-family: "Epilogue";
  font-size: clamp(0.2rem, 0.2vw + 0.7rem, 1.2rem);
  line-height: 1.2rem;
  overflow-wrap: break-word;
}

.small {
  font-family: "Epilogue";
  font-size: clamp(0.2rem, 0.2vw + 0.6rem, 1.7rem);
  line-height: 1.3rem;
  overflow-wrap: break-word;
}

.hover:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 350ms border-bottom;
}

.full-img {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}

.white {
  color: white;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 240px;
  height: 120px;
  margin: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.menu img {
  height: auto;
  width: 100px;
}

.nav-trigger {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 20px 21px;
  z-index: 100;
}
.nav-trigger .hamburger {
  cursor: pointer;
  transform: scale(0.7);
}
.nav-trigger .hamburger .line {
  display: block;
  width: 35px;
  height: 5px;
  margin-bottom: 5px;
  background-color: black;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
  min-height: auto;
}
.section--center {
  align-items: center;
}
.section--top {
  align-items: start;
}
.section--bottom {
  align-items: end;
}

.hero {
  margin: 5vw;
}

.scroll-spacer {
  height: 75vh;
}

.spacer {
  height: 5vh;
}

.sidenav {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 720px;
  max-width: 85%;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.9725490196);
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav__close {
  filter: invert(1);
  position: absolute;
  margin: 10px;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
}
.sidenav--visible {
  transform: translateX(0);
}
.sidenav__container {
  display: flex;
  margin: 20%;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  height: 100%;
}
.sidenav__container--item {
  opacity: 0;
  font-weight: 600;
  text-decoration: none;
  color: whitesmoke;
}

:root {
  --main-font: "Sora";
  --grey-color: rgba(252, 252, 252, 0.394);
  --black-color: black;
  --white-color: white;
  --padding-xl: 5vh 14vw;
  --padding-xs: 5vh 14vw;
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: auto;
  font-family: var(--main-font);
  background-color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
  color: aliceblue;
  padding: var(--padding-xs);
  flex: 1;
}
.footer > * {
  flex: 1;
  flex-grow: 1;
}
.footer > :first-child {
  flex-grow: 3;
}
.footer__description {
  max-width: 350px;
}
.footer__sublist {
  display: flex;
  gap: 10px;
}
.footer__sublist--column {
  flex-direction: column;
}
.footer__header {
  margin-bottom: 5px;
}
.footer__list--item {
  list-style: none;
  margin-bottom: 5px;
}
.footer__list--item a {
  text-decoration: none;
  color: aliceblue;
}
.footer__list--item a:hover {
  color: white;
}
.footer__logo {
  margin-bottom: 10px;
  filter: invert(1);
  max-height: 70px;
  max-width: auto;
}

@media screen and (min-width: 906px) {
  .footer {
    flex-direction: row;
    height: 40vh;
  }
}
@media screen and (min-width: 906px) {
  .super {
    font-size: clamp(4.5rem, 2.5vw + 1rem, 3rem);
    line-height: 5rem;
  }
  .title {
    font-family: "Epilogue";
    line-height: 2.5rem;
  }
  .text {
    font-size: clamp(1.2rem, 1.2vw + 1rem, 1.3rem);
    line-height: 2rem;
  }
  .mini {
    font-size: clamp(0.2rem, 0.2vw + 0.7rem, 1.2rem);
    line-height: 1.2rem;
    overflow-wrap: break-word;
  }
}

/*# sourceMappingURL=global.css.map */
