.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: auto;

    &--center{
        align-items: center;
    }

    &--top {
        align-items: start
    }

    &--bottom{
        align-items: end
    }
}

.hero {
    margin: 14vw;
}

.scroll-spacer {
    height: 75vh;
}

.spacer {
    height: 5vh;   
}
