.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 240px;
    height: 120px;
    margin: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  img {
    height: auto;
    width: 100px;
  }
}

.nav-trigger {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 20px 21px;
  z-index: 100;

  .hamburger {
    cursor: pointer;
    transform: scale(0.7);
    .line {
      display: block;
      width: 35px;
      height: 5px;
      margin-bottom: 5px;
      background-color: black;
    }
  }
}