---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="section section--top">
    <div class="hero">
      <h2 class="super" data-app="reveal">Contacto</h2>
      <div class="spacer"></div>
      <p class="text" data-app="reveal">
        Si ya estás imaginando cómo podríamos contar juntas tu historia o
        simplemente tienes algunas preguntas, me encantaría escuchar de ti. No
        hay nada más emocionante que planear la próxima aventura fotográfica o
        charlar sobre tu proyecto.
      </p>
    </div>
  </div>
</BaseLayout>
