---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="section section--top">
    <div class="hero">
      <h2 class="super" data-app="reveal">Historias</h2>
      <div class="spacer"></div>
      <p class="text" data-app="reveal">
        Cada foto que ves aquí cuenta una historia: risas compartidas, miradas
        que hablan, momentos que simplemente no quieren ser olvidados. Esta
        sección es una ventana a los recuerdos que he tenido el honor de
        capturar.
      </p>
    </div>
  </div>
</BaseLayout>
