---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="section section--top">
    <div class="hero">
      <h2 class="super" data-app="reveal">Portal de denuncias</h2>
      <div class="spacer"></div>
      <p class="text" data-app="reveal">
      </p>
    </div>
  </div>
</BaseLayout>
