---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="section section--top">
    <div class="hero">
      <h2 class="super" data-app="reveal">Sobre Mí</h2>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <p class="text" data-app="reveal">
        Hola, soy Verónica Álvarez. Desde hace 15 años, me dedico a la
        fotografía, y sí, estoy completamente enamorada de mi trabajo. La verdad
        es que siempre me he sentido atraída por la magia de capturar momentos a
        través de una cámara, especialmente aquellos que suceden al aire libre,
        bañados por la luz natural.
      </p>
      <div class="spacer"></div>
      <p class="text" data-app="reveal">
        Mi enfoque siempre ha sido bastante claro: retratar la vida tal como es,
        sin añadirle nada artificial. Ya sea una tarde de juego en el parque con
        la familia, la complicidad de una mirada entre mascotas y sus dueños, o
        esos instantes únicos de alegría en eventos especiales, mi objetivo es
        capturar la esencia pura de cada experiencia.
      </p>
      <div class="spacer"></div>
      <p class="text" data-app="reveal">
        Me considero una eterna amante de la naturaleza, lo que probablemente
        explica por qué prefiero los escenarios al aire libre. Hay algo
        sinceramente hermoso en la forma en que la luz natural puede contar una
        historia, dar vida a una fotografía de manera que ningún estudio puede
        igualar. Esta pasión por lo natural se refleja en cada imagen que tomo.
      </p>
      <div class="spacer"></div>
      <p class="text" data-app="reveal">
        A lo largo de los años, he aprendido que cada persona, cada familia,
        tiene una historia única para contar. Mi trabajo es descubrir esa
        historia y narrarla a través de mis fotografías. Me encanta dar mi toque
        personal a cada sesión, pero lo más importante para mí es respetar y
        destacar la verdadera esencia de lo que fotografío.
      </p>
      <div class="spacer"></div>
      <p class="text" data-app="reveal">
        Al final del día, lo que busco es que mis imágenes te hagan sentir algo,
        que puedas mirarlas y recordar exactamente cómo te sentías en ese
        momento, incluso años después. Si estás buscando alguien que capture tus
        momentos más significativos de una manera auténtica y llena de cariño,
        aquí estoy. Sería un honor para mí contar tu historia.
      </p>
    </div>
  </div>
</BaseLayout>
