<header>
  <nav class="menu">
    <a class="logo" href="/">
      <img data-app="logo" src="/assets/logo.png" />
    </a>
    <div class="nav-trigger">
      <div data-app="sidenav-open" class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
  </nav>
</header>
