<div data-app="sidenav" class="sidenav">
  <img data-app="sidenav-close" class="sidenav__close hover" src="/assets/icons/close-outline.svg" />

  <div class="sidenav__container">
    <h3 class="mini white">ZAI FOTOGRAFÍA</h3>
    <a data-app="sidenav-item" class="sidenav__container--item title" href="/sobre-mi"> Sobre mí</a>
    <a data-app="sidenav-item" class="sidenav__container--item title" href="/historias"> Historias</a>
    <a data-app="sidenav-item" class="sidenav__container--item title" href="/blog"> Noticias</a>
    <a data-app="sidenav-item" class="sidenav__container--item title" href="/contacto"> Contacto</a>
  </div>
</div>
