// Define Mixins
@import "./variables/variables";
@import "./mixing/mixing";

// mobile to medium
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  width: 100%;
  height: 100%;
  h1,
  h2,
  h3 {
    font-family: $secondary-font;
  }
  p {
    font-family: $secondary-font;
  }
  //overflow: hidden;
}

[data-app='reveal'] {
  opacity: 0;
}


.super {
  font-family: $secondary-font;
  font-size: clamp(3.5rem, 3.5vw + 3.5rem, 5rem);
  line-height: clamp(5.2rem, 1.2 * (3.5vw + 3.5rem), 5.5rem);
  overflow-wrap: break-word;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px
}

.title {
  font-size: clamp(1.9rem, 2vw + 1rem, 2.25rem);
  font-family: $secondary-font;
  line-height: 2.5rem;
  overflow-wrap: break-word;
}

.text {
  font-family: $secondary-font;
  font-size: clamp(1.2rem, 1.5vw + 1rem, 1.75rem);
  line-height: 2.5rem;
  overflow-wrap: break-word;
}

.mini {
  font-family: $secondary-font;
  font-size: clamp(0.2rem, 0.2vw + 0.7rem, 1.2rem);
  line-height: 1.2rem;
  overflow-wrap: break-word;
}

.hover {
  &:hover {
    opacity: 0.7;
    transition: 350ms border-bottom;
  }
}

.full-img {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}

//components
@import "./components/navigation";
@import "./components/container";
@import "./components/side";
@import "./components/footer";

//medium to desktop
@include respond-to("medium") {
}

//desktop to max
@include respond-to("desktop") {
  .super {
    font-size: clamp(4.5rem, 2.5vw + 1rem, 3rem);
    line-height: 5rem;
  }

  .title {
    font-family: $secondary-font;
    line-height: 2.5rem;
  }

  .text {
    font-size: clamp(1.2rem, 1.2vw + 1rem, 1.75rem);
  }

  .mini {
    font-size: clamp(0.2rem, 0.2vw + 0.7rem, 1.2rem);
    line-height: 1.2rem;
    overflow-wrap: break-word;
  }
}
